# Ignore OS-Generated Metadata Files
.DS_Store
Thumbs.db

# Ignore IDE, & AI Directories
/.aiignore
/.claude
/.cursor
/.idea
/.junie
/.phpstorm.meta.php
/.remember
/.run
/.vscode

# Ignore Local, Build, Test and Vendor Directories
/.local
/.cache
/build
/vendor

# Ignore environment files, except for the default distribution file
.env
.env.*
*.private.env.json
!.env.dist

# Ignore boilerplate and development tooling files
docker-compose.override.yml
docker-compose.override.yaml
compose.override.yml
compose.override.yaml
phpstan-baseline.*.neon
phpstan-baseline.*.php
phpstan-baseline.neon
phpstan-baseline.php
phpstan.neon
phpunit.xml
